.footer-nav-component {
  .accordion {
    .accordion-header .accordion-button {
      text-transform: uppercase;
      font-family: $roboto;
      font-weight: 400;

      &:not(.collapsed) {
        color: $txt;
        background-color: $bgc-input-light;
      }
      &:focus {
        box-shadow: none;
      }
    }

    .scroll-to-up-button .accordion-header .accordion-button {
      &:not(.collapsed) {
        background-color: #fff;
      }
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  .footer-nav {
    .nav-item {
      text-transform: capitalize;
      a {
        transition: all 0.3s;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  .footer-nav-decstop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 30px;

    .footer-nav-decstop-item {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    @media all and (min-width: $large) {
      flex-direction: row;
    }

    .scroll-to-up-button-decstop {
      justify-content: end;
      .scroll-to-up-button {
        position: relative;
        padding: 10px;
        border: none;
        max-width: 60px;
        max-height: 60px;
        background-color: transparent;
        box-shadow: $light-border;
        overflow: hidden;

        svg {
          height: 35px;
          width: 35px;
          vertical-align: middle;
        }
        &:hover svg {
          animation: aniArrow01 0.5s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
        }
      }
    }
  }

  .navigation .nav-item a {
    color: $txt;
  }
}

@keyframes aniArrow01 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
