.footer-component {
  width: 100%;

  .footer-nav-container {
    .logo {
      padding: 15px 0;
      border-top: 1px solid $bgc-hover-btn;
      text-align: center;
      font-family: $logo-font;
      font-weight: 700;
    }
  }

  .footer-policy-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 15px 20px 5px 20px;
    width: 100%;
    background-color: $bgc-gray;

    & > * {
      flex-grow: 1;
      margin: 5px 0;
    }

    p,
    a {
      color: #fff;
      transition: all 0.3s;
    }
    a:hover {
      text-decoration: underline;
    }

    @media all and (min-width: $medium) {
      flex-direction: row;
      justify-content: space-around;

      & > * {
        flex-grow: 0;
        margin: 15px 0;
      }
    }
  }
}
