.navigation {
  .nav-item {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    transition: all 0.3s;
    &:hover {
      background-color: $bgc-input-light;
    }
    a {
      display: inline-block;
      padding: 10px;
      width: 100%;
      color: $txt;
      text-decoration: none;
    }
  }
}

@media all and (min-width: $medium) {
  .header-container:hover .main-nav a {
    color: $txt;
  }

  .main-nav {
    .nav-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 18%;

      &:hover {
        background-color: transparent;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 0;
        height: 2px;
        background: $bgc-hover-btn;
        transition: width 0.3s;
      }

      &:hover::after {
        width: 70%;
      }

      a {
        text-align: center;
        color: #fff;
        font-weight: 500;
      }
    }
  }
}

@media all and (min-width: $large) {
  .main-nav {
    padding-top: 15px;
  }
}
@media all and (min-width: $extra-large) {
  .main-nav {
    .nav-item {
      justify-content: space-around;
    }
  }
}
