.secondary-header-component {
  position: relative;
  .secondary-header-img {
    height: 30vh;
    width: 100%;
    object-fit: cover;
    overflow: hidden;

    @media all and (min-width: $medium) {
      height: 50vh;
    }
  }

  .about-page-logo {
    height: 50vh;
    @media all and (min-width: $medium) {
      height: 70vh;
      object-position: top;
      padding-top: 100px;
      background-image: url(../../img/background.png);
      background-position: top;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
}
