.slider-container {
  .slider {
    text-align: center;
    .slick-arrow {
      z-index: 1000;
      transition: all 0.3s;

      &.slick-prev {
        left: -45px;
      }

      &::before {
        font-size: 38px;
        color: $bgc-input-light;
        opacity: 1;
      }
      &:hover::before {
        color: $bgc-hover-btn;
      }
    }
    .slick-slide {
      & > div {
        margin: 0 10px;
      }

      .slider-card-container {
        .slider-card-img {
          height: 300px;
          width: 100%;
          object-fit: cover;

          @media all and (min-width: $large) {
            height: 400px;
          }
          @media all and (min-width: $extra-large) {
            height: 500px;
          }
        }
      }
    }
  }
}
