.contact-layout-container {
  .contact-form-container {
    margin-bottom: 40px;
    padding: 0 20px;

    .container {
      display: flex;
      flex-direction: column;

      .common-info-container {
        .contact-item-container {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          .img-holder {
            .contact-img {
              margin: 15px 25px;
              width: 25px;
              height: 25px;
            }
          }

          .contact-item {
            .contact-header,
            p span {
              text-transform: capitalize;
            }
            a {
              color: $txt;
              text-decoration: underline;
            }
            p span {
              text-transform: capitalize;
              font-weight: 600;
            }
          }
        }
      }

      .form-component-container {
        margin-top: 30px;
        border-top: 1px solid $bgc-hover-btn;
        .form-header {
          margin: 20px auto;
          text-transform: capitalize;
        }
        .form-input {
          margin-bottom: 20px;
          letter-spacing: 1px;
          .form-control {
            border-radius: 0;

            &:focus {
              border-color: transparent;
              box-shadow: $light-border;
            }
          }
        }

        .form-button {
          padding: 10px 0;
          border: 1px solid $bgc-gray;
          border-radius: 0;
          background-color: $bgc-light;
          color: $txt;
          font-weight: 500;
          text-transform: uppercase;
          width: 100%;
          transition: all 0.3s;

          &:hover {
            background-color: $bgc-input-light;
          }
        }
      }

      @media all and (min-width: $extra-small) {
        .common-info-container {
          .contact-item-container {
            .img-holder {
              .contact-img {
                margin: 15px 45px;
                width: 45px;
                height: 45px;
              }
            }
          }
        }
      }
      @media all and (min-width: $medium) {
        flex-direction: row;
        justify-content: space-around;

        .form-component-container {
          margin-top: 0;
          border-top: none;
          .form-header {
            margin-top: 0;
          }
        }
      }
      @media all and (min-width: $large) {
        & > * {
          padding: 0 20px;
        }
        .common-info-container {
          .contact-item-container {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  .map-component-container {
    .map-container {
      height: 300px;
      width: 100%;
    }
  }
}
