.home-layout-container {
  position: absolute;
  top: 0;
  width: 100%;
  color: $bgc-gray;
  overflow: hidden;

  .carousel-img {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .carousel-desc {
    position: absolute;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    text-transform: uppercase;

    .carousel-text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 0 50px;
      width: 100%;
      font-size: 30px;

      @media all and (min-width: $extra-small) {
        font-size: 40px;
      }
      @media all and (min-width: $small) {
        font-size: 50px;
      }
      @media all and (min-width: $medium) {
        font-size: 60px;
      }
      @media all and (min-width: $extra-large) {
        font-size: 80px;
      }
    }

    button {
      position: absolute;
      bottom: 40px;
      right: 50%;
      transform: translateX(50%);
    }
  }

  .offers-component-container,
  .blog-component-container {
    margin-bottom: 40px;
    padding: 20px 70px;
  }

  .about-component-container {
    padding-top: 40px;
    .img-about-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-image: url(../../../public/img/img3.jpg);
      width: 100%;

      .logo,
      .main-title {
        padding: 0 20px;
        font-weight: 700;
        font-size: $baseline + 16px;
        color: $bgc-light;
      }

      button {
        width: 50%;
      }

      @media all and (min-width: $extra-small) {
        .logo,
        .main-title {
          font-size: 40px;
        }
      }
      @media all and (min-width: $small) {
        .logo,
        .main-title {
          font-size: 50px;
        }
        button {
          width: 30%;
        }
      }
      @media all and (min-width: $medium) {
        .logo,
        .main-title {
          font-size: 60px;
        }
      }
      @media all and (min-width: $large) {
        button {
          width: 20%;
        }
      }
      @media all and (min-width: $extra-large) {
        .logo,
        .main-title {
          font-size: 80px;
        }
        button {
          width: 15%;
        }
      }
    }
  }
}
