.privacy-component-container {
  .policy-desc-container {
    .policy-article {
      p {
        font-size: $baseline;
      }
    }
  }

  @media all and (min-width: $extra-small) {
    .policy-desc-container {
      .policy-article {
        p {
          font-size: $baseline + 4px;
        }
      }
    }
  }
  @media all and (min-width: $large) {
    .policy-desc-container {
      .policy-article {
        h3 {
          text-align: left;
        }
      }
    }
  }
  @media all and (min-width: $extra-large) {
    .policy-desc-container {
      .policy-article {
        margin: 20px 0;
      }
    }
  }
}
