//colors

$bgc-light: #f6f7fb;
$bgc-input-light: #efeeea;
$bgc-hover-btn: #baada7;
$bgc-gray: #333;
$txt: #000;

// font

$baseline: 16px;

//mobile breakpoints

$extra-small: 360px;
$small: 576px;
$medium: 769px;
$large: 992px;
$extra-large: 1200px;
