@import "./scss/general/Variables.scss";

@import "./scss/layout/Home.scss";

@import "./scss/components/Navigation.scss";
@import "./scss/components/Header.scss";
@import "./scss/components/Button.scss";

.App {
  text-align: center;
  height: 300vh;
  a {
    text-decoration: none;
  }
}
