@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@import "./scss/general/Variables.scss";
@import "./scss/general/General.scss";

@import "./scss/layout/Home.scss";

@import "./scss/components/Navigation.scss";
@import "./scss/components/Header.scss";
@import "./scss/components/Button.scss";
@import "./scss/components/Footer.scss";
@import "./scss/components/FooterNavigation.scss";
@import "./scss/components/CardSlider.scss";
@import "./scss/components/LanguageSwitcher.scss";

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $roboto;
  a {
    text-decoration: none;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
